@model MvcDemo.Models.Student
@{

}

<h1>欢迎光临！~</h1>
<div>
    <span>学号：</span>
    <span>@Model.Id</span>
</div>
<div>
    <span>姓名：</span>
    <span>@Model.Name</span>
</div>
<div>
    <span>年龄：</span>
    <span>@Model.Age</span>
</div>
<div>
    <span>性别：</span>
    <span>@Model.Sex</span>
</div>


<form action="~/Hello/Save" method="post">
    <div style="margin:10px;">
        <span>学号：</span>
        <input type="number" name="Id" />
    </div>
    <div style="margin:10px;">
        <span>姓名：</span>
        <input type="text" name="Name" />
    </div style="margin:10px;">
    <div style="margin:10px;">
        <span>年龄：</span>
        <input type="number" name="Age" />
    </div>
    <div style="margin:10px;">
        <span>性别：</span>
        <input type="text" name="Sex" />
    </div>
    <div style="margin:10px;">
        <input type="submit" name="submit" value="保存" />
    </div>
</form>