<form action="~/Login/Login" method="post">
    <div style="margin:10px;">
        <span style="display:inline-block; width:80px;">用户名：</span>
        <input type="text" name="username" />
    </div>
    <div style="margin:10px;">
        <span style="display:inline-block;width:80px;">密  码：</span>
        <input type="password" name="password" />
    </div style="margin:10px;">
    <div style="margin:10px;">
        <input type="submit" name="submit" value="登录" />
    </div>
</form>